@import "tailwindcss";

#menu-main > li{
    margin-left: 20px;
}

#btn-login:hover{
    background-color: #f0f0f0;
    color: black;
}

@media screen and (min-width: 2560px) {
    #box-banner{
        height: 1000px;
    }

    .banner{
        height: 1000px;
    }
}

@media screen and (max-width: 768px) {
    * {
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
    }
    #box-banner{
        height: 400px;
    }

    .banner{
        height: 400px;
    }
}
@media screen and (max-width: 425px) {
    * {
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
    }
    #box-banner{
        height: 200px;
    }

    .banner{
        height: 200px;
    }
}