@import "tailwindcss";


#menu-main > li{
    margin-left: 20px;
}

@media screen and (min-width: 2560px) {
    #box-banner{
        height: 1000px;
    }

    .banner{
        height: 1000px;
    }
}
